*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(to right,  rgb(203,250,254,0.75),rgb(238,252,254,0.8)),url(https://tse4.mm.bing.net/th?id=OIP.Wtwi_IeUhGcgok9URrR7tAHaEo&pid=Api&P=0);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(33, 30, 30);
    font-family: 'Fira Sans', sans-serif;
  }
  nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 35px 5%;
  }
  nav .logo{
    font-size: 30px;
    font-weight:bolder ;
  }
  nav ul{
    display: flex;
    list-style: none;
  }
  .btn2:hover{
    background-color: white;
  }
  nav ul li{
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
  }
  nav ul li a{
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
  nav .navLinks button{
    padding: 2px 20px;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    border-style: none;
    font-weight: 1600;
    margin-left: 10px;
  }
  nav ul li:hover{
    background-color: rgb(236, 234, 243);
  }
  nav .menubtn{
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
  }

  @media screen and (max-width: 600px) {
    nav .menubtn{
      display: flex;
    }
    nav .navLinks{
      display: none;
    }
    .sideNav {
      display: block !important;
    }
  }
   
  .sideNav{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: rgb(44, 1, 197);
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
  }
   
  .sideNav a{
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #d1d1d1;
    transition: 0.3s;
    text-decoration: none;
  }
  .sideNav a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    border-style: none;
    font-weight: 1600;
  }
  .sideNav a:hover{
    color: white;
  }
  .sideNav .closeBtn{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
  }
   
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
  }
  .row .column1 {
    padding-right: 50px;
  }
  .column1 h1 {
    font-size: 60px;
    margin-top: 150px;
    margin-bottom: 10px;
  }
  .column1 p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .column1 button {
    width: 150px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
  }
  .btn1:hover{
    background-color: white;
  }
  @media screen and (max-width: 980px) {
    .column2 img {
      width: 450px;
    }
    .column1 h1 {
      font-size: 40px;
    }
    .column1 p{
      font-size: 17px;
    }
    .row {
      margin-top: 80px;
    }
  }
   
  @media screen and (max-width: 600px) {
   
    .column1 h1 {
      font-size: 40px;
    }
    .row {
      flex-direction: column;
   
    }
    .row .column1 {
      padding: 30px;
    }
  }